body{
  background-color: #c0022e;
}

.logotext{
  font-size: 100px;
  text-align: center;
  color: #341c02;
  font-family: 'Permanent Marker', cursive;
}

.logosubtitle{
  text-align: center;
  color: #341c02;
  font-family: 'Permanent Marker', cursive;
}

.logodiv{
  display: block;
  margin-left: auto;
  text-align: center;
  background-color: #f2f2f2;
  width: 410px;
  height: 300px;
  border-radius: 30px;
  -ms-transform: rotate(5deg); /* IE 9 */
  -webkit-transform: rotate(5deg); /* Safari */
  transform: rotate(5deg);
}

.divwrapper{
  width: 50%;
  margin: 0 auto;
}

.searchBar{
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Safari */
  transform: rotate(1deg);
}

.jobFormDiv{
  background-color: #f2f2f2;
  width: 80%; 
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
}

.jobTitle{
  color: #341c02;
  font-family: 'Permanent Marker', cursive;
}

.jobText{
  color: #341c02;
  font-family: 'Permanent Marker', cursive;
}

.logoTextSmall{
  line-height: 100px;
}

.logoSmallDiv{
  display: block;
  text-align: center;
  width: 300px;
  height: 100px;
  background-color: #f2f2f2;
  border-radius: 10px;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari */
  transform: rotate(3deg);
  margin: 20px auto;
}

.deleteButton{
  display: inline-block;
  position: relative;
}