<div class="divwrapper">
  <div class="logodiv">
    <h1 class="logotext">Artemis</h1>
    <h3 class="logosubtitle">A job search for the rest of us</h3>
    <br>
    <br>
    <a href="/jobs/new" class="btn btn-success">Add a job</a>
  </div>
</div>


<div class="form-group searchBar">
  <label for="search">Search</label>
  <input type="text" class="form-control" id="search" ng-model="search">
</div>

<div class="well" ng-repeat="job in jobs | filter:{jobTitle:search} track by job._id">
  <h1>
    <a class="jobTitle" ng-href="/jobs/{{job._id}}">{{job.jobTitle}}</a>
  </h1>

    <h4 class="jobSubtitle">@ {{job.companyName}} - {{job.contactPerson}} - {{job.contactInfo}}</h4>
    <div ng-if="job.jobLink"><a ng-href="job.jobLink">Link to job listing</a></div>
    <div class="statusText" ng-if="job.dateApplied">Date applied - {{job.dateApplied | date : format : fullDate}}<br></div>
    <div class="statusText" ng-if="job.interviewDate">Interview Date - {{job.interviewDate | date : format : fullDate}}<br></div>
    <div class="well" ng-if="job.notes">
      <h4>Notes</h4>
      {{job.notes}}
    </div>
    <div class="well" ng-if="job.coverLetter">
      <h4>Cover Letter</h4>
      {{job.coverLetter}}
    </div>
    <h4 class="jobSubtitle">Status</h4>
    <div class="statusText sNotApplied" ng-show="{{job.status == 'Not Applied'}}">Not Applied</div>
    <div class="statusText sApplied" ng-show="{{job.status == 'Applied'}}">Applied</div>
    <div class="statusText sInProgress" ng-show="{{job.status == 'In Progress'}}">In Progress</div>
    <div class="statusText sNotHired" ng-show="{{job.status == 'Not Hired'}}">Not Hired</div>

  <a ng-click="deleteJob(job._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>
