<div class="divwrapper">
  <div class="logodiv">
    <h1 class="logotext">Artemis</h1>
    <h3 class="logosubtitle">A job search for the rest of us</h3>
    <br>
    <br>
    <a href="/jobs/new" class="btn btn-success">Get Started</a>
  </div>
</div>


<div class="form-group searchBar">
  <label for="search">Search</label>
  <input type="text" class="form-control" id="search" ng-model="search">
</div>

<div class="well" ng-repeat="job in jobs | filter:{jobTitle:search} track by job._id">
  <h1>{{job.jobTitle}}</h1>
  <a ng-href="/jobs/{{job._id}}">Permalink</a>
  <a ng-click="deleteJob(job._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"></a>
</div>
