<h1>New Job</h1>

<div class="jobFormDiv">
  
<form ng-submit="createJob()">
  <div class="form-group">
    <label for="jobTitle" class="jobTitle">Job Title</label>
    <input type="text" class="form-control" id="jobTitle" ng-model="job.jobTitle">
  </div>
  <div class="form-group">
    <label for="notes">Questions/Notes</label>
    <textarea class="form-control" id="notes" ng-model="job.notes"></textarea>
  </div>
  <div class="form-group">
    <label for="companyName">Company Name</label>
    <input type="text" class="form-control" id="companyName" placeholder="" ng-model="job.companyName">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
